## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
population = np.random.randint(50000, 2000000, size=5)
data = {'國家': ['A','B','C','D','E'],
        '人口': population.tolist()}
data = pd.DataFrame(data)

In [3]:
data

  國家       人口
0  A  1127690
1  B  1381847
2  C  1141560
3  D  1506370
4  E   221102

In [4]:
print('The largest population of countries: ', data['國家'][data['人口'].argmax()])

The largest population of countries:  D

C:\Users\hannah\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.